@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

a {
    text-decoration-line: none;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@keyframes flipH {
    50%{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

.screen {
    border-radius: 10px;
    background: white;
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px rgb(86, 89, 150);
}

.screen_content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 30px;
}

.login_top{
    font-family: 'Koulen', cursive;
    display: block;
    font-size: 50px;
    line-height: 1.2;
    color: rgb(51,51,51);
    text-align: center;
    margin-top: 80px;
}

.login_field {
    padding: 20px 0px;
    position: relative;
}

.login_icon {
    position: absolute;
    top: 30px;
    color: rgb(120,117,181);
}

.login_input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 7px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;

}

.login_input:active, .login_input:focus, .login_input:hover {
    outline: none;
    border-bottom-color: rgb(106,103,158);
}

.text-right{
    text-align: right;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: smaller;

}

.login_submit {
    background-position: -350px 0px, 0px 0px;
    font-size: 15px;
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid rgb(212, 211, 232);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    box-shadow: 0px 2px 2px rgba(163,188,212,1) ;
    cursor: pointer;
    transition: background 0.5s;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, #2484c6, #1995c8 51%, #00bbce), linear-gradient(to right, #2484c6 0%, #1995c8 51%, #00bbce 76%)
}

.login_submit:active, .login_submit:focus, .login_submit:hover {
    background-position: 0px 0px, 258px 0px;
    border-color: rgb(106, 103, 158);
    outline: none;
}

.button_icon {
    font-size: 24px;
    margin-left: auto;
    color: rgba(120, 117, 181, 0.11);
}

.login_submit {
    background-position: -258px 0px, 0px 0px;
}

@media screen and (max-width: 400px){
    .screen{

        width: 100%;
        height: 100%;
    }

}