.--grid-wrap{
  box-shadow: -5px -5px 5px #fff, 5px 5px 5px #fff, 5px -5px 5px #fff, -5px 5px 5px #fff;
  border-radius: 25px;
  height: 80vh;
  overflow: scroll;
  padding: 5px;
  text-align: center;
}

.--grid-wrap-title{
  text-align: center;
  margin: 10px;
}

.--grid-h2{
  margin: 0;
  padding-left: 15px;
  display: inline-block;
}

.--grid-hide{
  display: none;
}

.--grid-wrap-title:hover > .--grid-icon-reduce{
  filter: invert(0.2);
}

.--grid-wrap-title:hover{
  cursor: pointer;
}

.--grid-icon-reduce{
  filter: invert(1);
  padding-left: 15px;
  padding-right: 15px;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: baseline;
  transform: scaleY(1);
  transition: filter 0.2s, transform 0.2s;
}

.--grid-icon-show{
  transform: scaleY(-1);
}

.--grid-table{
  border-collapse: collapse;
  font-size: small;
  margin: auto;
  margin-bottom: 30px;
}

.--grid-title, .--grid-case {
  border: solid 2px #fff;
  padding: 5px;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.--grid-icon{
  width: 18px;
  filter: invert(1);
  transition: filter 0.2s ease-out;
}

.--grid-icon:hover{
  filter: invert(0);
  cursor: pointer;
}

.--grid-case-no-border{
  border: none;
}

.--grid-input-text{
  border: solid 1px #fff;
  color: #fff;
  width: calc(100% - 10px);
  background-color: rgba(0,0,0,0);
}

.--grid-input{
  border: 0px;
  border-bottom: solid 2px#fff;
  background-color: #fff0;
  color: white;
}

.--grid-button{
  width: 25%;
  height : 50px;
  margin-top: 50px;
  transition: color 0.2s ease-out;
  margin-bottom: 150px;
}

.--grid-button:hover{
  cursor: pointer;
  color: rgb(170, 9, 105);
}