label{
  display: block;

  padding: 0 10px 0 10px;
  border-radius: 20px;
  color: white;
}

.--conv-grp-popup .--conv-add-grp-popuptext {
  visibility: hidden;

}

.--conv-grp-popup .show {
  visibility: visible;
}

.--conv-add-grp-text{
  position: absolute;
  background-color: #4c8ad5;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 20px 0;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}
.--conv-form-grp-text{
  width: max-content;
  margin: auto;
  line-height: 70px;
}
